.detailsBody {
  padding: 10px;
  font-size: 12px;
  opacity: 0.8;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  max-width: 100%; /* Default for extra small screens */
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .detailsBody {
    max-width: 80%; /* Adjust max-width for small screens */
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .detailsBody {
    max-width: 50%; /* Adjust max-width for large screens */
  }
}
.row {
  display: flex;

  /* flex-wrap: wrap; */
}

.span {
  /* padding-bottom: 100px !important; */
  line-height: 2em;
}
