.container {
  display: flex;
  position: relative;
  max-width: 169px;
  margin-left: 7px;
  border-radius: 10px;
}
.img {
  max-width: 169px; /* fixed maximum width */
  max-height: 169px; /* fixed maximum height */
  /* margin-left: 20px; */
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  opacity: 0.8;
}
.title {
  font-size: 25px;
  font-weight: 400;
  padding-top: 33px;
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
  z-index: 2;
}
.subtitle {
  font-size: 20px;
  margin-left: 7px;
  white-space: nowrap;
  padding-bottom: 25px;
  opacity: 0.8;
}
.miniSubtitle {
  margin-left: 7px;
  white-space: nowrap;
  opacity: 0.8;
}
